/* Global */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --main-color: #da190f;
  --bg: #13131a;
  --bg-card: #0c0c14;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 0.8rem;
  }
  &::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

body {
  background: var(--bg);
}

section {
  padding: 2rem 7%;
}

header {
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  & .header-icons {
    display: flex;
    align-items: center;

    & div {
      margin-left: 2rem;
    }

    & ion-icon {
      color: #fff;
      cursor: pointer;
      font-size: 2.5rem;

      &:hover {
        color: var(--main-color);
        padding-bottom: 0.5rem;
      }
    }

    & #menu-btn {
      display: none;
    }
  }

  & img {
    height: 6.5rem;
    border-radius: 100%;
  }

  & nav {
    margin: 0 1rem;
    font-size: 2.6rem;
    color: #fff;
  }

  & a {
    color: #fff;
  }
  & nav a:hover {
    color: var(--main-color);
    border-bottom: 1rem solid var(--main-color);
    padding-bottom: 0.5rem;
  }
}

.heading {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;

  &.heading span {
    color: var(--main-color);
    text-transform: uppercase;
  }
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: var(--main-color);
  cursor: pointer;

  &:hover {
    letter-spacing: 0.2rem;
  }
}
