/* Global */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --main-color: #da190f;
  --bg: #13131a;
  --bg-card: #0c0c14;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 0.8rem;
  }
  &::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

body {
  background: var(--bg);
}

section {
  padding: 2rem 7%;
}

header {
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  & .header-icons {
    display: flex;
    align-items: center;

    & div {
      margin-left: 2rem;
    }

    & ion-icon {
      color: #fff;
      cursor: pointer;
      font-size: 2.5rem;

      &:hover {
        color: var(--main-color);
        padding-bottom: 0.5rem;
      }
    }

    & #menu-btn {
      display: none;
    }
  }

  & img {
    height: 6.5rem;
    border-radius: 100%;
  }

  & nav {
    margin: 0 1rem;
    font-size: 2.6rem;
    color: #fff;
  }

  & a {
    color: #fff;
  }
  & nav a:hover {
    color: var(--main-color);
    border-bottom: 1rem solid var(--main-color);
    padding-bottom: 0.5rem;
  }
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: var(--main-color);
  cursor: pointer;

  &:hover {
    letter-spacing: 0.2rem;
  }
}

.heading {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;

  &.heading span {
    color: var(--main-color);
    text-transform: uppercase;
  }
}

/* HOME */

.home {
  position: relative;
  min-height: 85vh;
  display: flex;
  align-items: center;
  background: url(./images/home.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: var(--border);

  & .content {
    max-width: 60rem;
    position: relative;
    z-index: 2;

    & h3 {
      font-size: 6rem;
      text-transform: uppercase;
      color: #fff;
    }

    & p {
      font-size: 2rem;
      font-weight: lighter;
      line-height: 1.8;
      padding: 1rem 0;
      color: #fff;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}

/* SOBRE / ABOUT */

.about {
  & .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: var(--bg-card);
    border: var(--border);

    & .image {
      flex: 1 1 45rem;

      & img {
        width: 100%;
      }
    }
  }

  & .content {
    flex: 1 1 45rem;
    padding: 2rem;

    & h3 {
      font-size: 3rem;
      color: #fff;
    }

    & p {
      font-size: 1.6rem;
      color: #ccc;
      padding: 1rem 0;
      line-height: 1.8;
    }
  }
}

/* MENU */

.menu {
  & .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
  }

  & .box {
    padding: 5rem;
    text-align: center;
    border: var(--border);
    background: var(--bg-card);

    & img {
      height: 18rem;
      border-radius: 100%;
    }

    & h3 {
      font-size: 2rem;
      padding: 1rem 0;
      color: #fff;
    }

    & .price {
      font-size: 2.5rem;
      padding: 0.5rem 0;
      color: #fff;

      & span {
        font-size: 1.5rem;
        text-decoration: line-through;
        font-weight: lighter;
      }
    }

    &:hover {
      background-color: #fff;

      & h3 {
        color: #000;
      }

      & .price {
        color: #000;
      }
    }
  }
}

/* PRODUTOS E PROMOÇÕES & REVIEW */

.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;

  & .box {
    text-align: center;
    border: var(--border);
    padding: 2rem;

    & a ion-icon {
      height: 3rem;
      width: 3rem;
      line-height: 3rem;
      font-size: 1.7rem;
      border: var(--border);
      color: #fff;
      margin: 0.3rem;

      &:hover {
        color: var(--main-color);
      }
    }

    & img {
      padding: 1rem 0;
      height: 25rem;

      /* image user review */
      &.user {
        height: 12rem;
        width: 10rem;
        border-radius: 50%;
        /* object-fit: cover; */
      }
    }

    & h3 {
      font-size: 2rem;
      padding: 1rem 0;
      color: #fff;
    }

    /* Review */
    & p {
      font-size: 1.56rem;
      line-height: 1.8;
      color: #fff;
    }

    & .icon-stars ion-icon {
      padding: 0.2rem;
      font-size: 2rem;
      color: var(--main-color);
    }

    & .price {
      font-size: 2.5rem;
      padding: 0.5rem 0;
      color: #fff;

      & span {
        font-size: 1.5rem;
        font-weight: lighter;
        text-transform: lowercase;
      }
    }
  }
}
